::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #888888;
}

::-webkit-scrollbar-thumb {
    background: #065e3c;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}